#ymon {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-left:20%;
}
h3 {
    margin-left: 20%;
}
#boton-clear {
    margin-left:5%;
}
#boton-compadre {
    margin-left:20%;
}
p {
    margin-left:20%;
}
h2{
    margin-left:20%;
}
h1 {
    margin-left:20%;
    margin-top:5%;
}
#enemigo{
    margin-left:20%;
}
#player {
    margin-left:20%;
}